[submodule "auth-matrix"]
	path = auth-matrix
	url = git@github.com:thirty30ww/auth-matrix.git
[submodule "frontstage"]
	path = frontstage
	url = git@github.com:thirty30ww/prose-pulse-frontstage.git
[submodule "backend"]
	path = backend
	url = git@github.com:thirty30ww/prose-pulse-backend.git
[submodule "backstage"]
	path = backstage
	url = git@github.com:thirty30ww/prose-pulse-backstage.git
[submodule "shared-api"]
	path = shared-api
	url = git@github.com:thirty30ww/prose-pulse-shared-api.git
